.glass {
    background: rgba(255, 255, 255, 0.35); /* semi-transparent */
    backdrop-filter: blur(12px); /* actual blur */
    -webkit-backdrop-filter: blur(12px); /* Safari support */
}

.blue-grad {
    background: rgb(0, 0, 128);
    background: linear-gradient(
        159deg,
        rgba(0, 0, 128, 1) 0%,
        rgba(0, 191, 255, 1) 100%
    );
}

.rotating-gradient {
    overflow: hidden;
    background: linear-gradient(135deg, #002582, #2984da);
}

/* @keyframes spin {
    0% {
        transform: translate(-40%);
    }
    100% {
        transform: translate(0%);
    }
} */
